PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173,http://localhost:5174,http://localhost:5175,http://127.0.0.1:5173,http://127.0.0.1:5174,http://127.0.0.1:5175,http://localhost:8081
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/districtmart?schema=public
REDIS_URL=redis://localhost:6379
JWT_ACCESS_SECRET=dev-access-secret-change-me-in-production-32chars
JWT_REFRESH_SECRET=dev-refresh-secret-change-me-in-production-32ch
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
FAST2SMS_API_KEY=qxyPkte2WnmGwOM3IDg9lZJoRsiaAbS7vrYTu6BzEVX5UhCKL1F4CBjnzYLAsTlKdR1G0ga3bhVr2yf7
FAST2SMS_SENDER_ID=ATMRKT
FAST2SMS_DLT_TEMPLATE_ID=226504
FAST2SMS_OTP_ID=8184aaa92a